/* Coolors Exported Palette - https://coolors.co/25283d-8f3985-a675a1-cea2ac-efd9ce */

/* CSS HEX */
--space-cadet: #25283dff;
--plum: #8f3985ff;
--pearly-purple: #a675a1ff;
--tuscany: #cea2acff;
--champagne-pink: #efd9ceff;

/* CSS HSL */
--space-cadet: hsla(233, 24%, 19%, 1);
--plum: hsla(307, 43%, 39%, 1);
--pearly-purple: hsla(306, 22%, 55%, 1);
--tuscany: hsla(346, 31%, 72%, 1);
--champagne-pink: hsla(20, 51%, 87%, 1);

/* SCSS HEX */
$space-cadet: #25283dff;
$plum: #8f3985ff;
$pearly-purple: #a675a1ff;
$tuscany: #cea2acff;
$champagne-pink: #efd9ceff;

/* SCSS HSL */
$space-cadet: hsla(233, 24%, 19%, 1);
$plum: hsla(307, 43%, 39%, 1);
$pearly-purple: hsla(306, 22%, 55%, 1);
$tuscany: hsla(346, 31%, 72%, 1);
$champagne-pink: hsla(20, 51%, 87%, 1);

/* SCSS RGB */
$space-cadet: rgba(37, 40, 61, 1);
$plum: rgba(143, 57, 133, 1);
$pearly-purple: rgba(166, 117, 161, 1);
$tuscany: rgba(206, 162, 172, 1);
$champagne-pink: rgba(239, 217, 206, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-right: linear-gradient(90deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-bottom: linear-gradient(180deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-left: linear-gradient(270deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-top-right: linear-gradient(45deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-bottom-right: linear-gradient(135deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-top-left: linear-gradient(225deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-bottom-left: linear-gradient(315deg, #25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);
$gradient-radial: radial-gradient(#25283dff, #8f3985ff, #a675a1ff, #cea2acff, #efd9ceff);